/* Welcome screen */

#loading-screen {
	position: absolute;
	top: 0;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	height: 100%;
	width: 100%;
}

#loader {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

#main-title {
	margin-bottom: 0;
	font-family: 'Share', 'Courier New', monospace;
}

#loading-text {
	font-size: larger;
	margin-top: 10px;
	font-family: 'Share', 'Courier New', monospace;
}

#engine-credit {
	position: absolute;
	bottom: 20px;
	font-size: 14px;
	font-family: 'Share', 'Courier New', monospace;
	color: #bee17b;
}

#engine-credit a {
	color: #bee17b;
	text-decoration: none;
}

#engine-credit a:hover {
	text-decoration: underline;
}

#loading-screen-background {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	background: #282828;
}